from dejavu import Dejavu
config = {
     "database": {
         "host": "127.0.0.1",
        "user": "root",
         "passwd": <password above>, 
        "db": dejavu,
        }
 }
 djv = Dejavu(config)
